.header__logo {
    width: 142px;
    height: 33px;
    margin-bottom: 41px;
    background-image: url(../../../images/logo.svg);
    background-repeat: no-repeat;
    cursor: pointer;
    transition: opacity .3s;
}

.header__logo:hover {
    background-image: url(../../../images/logoblack.svg);
}

@media screen and (max-width: 1023px) {
    .header__logo  {
        padding-left: 19px;
    }
  }


@media screen and (max-width: 767px) {
    .header__logo  {
        width: 103px;
        height: 24px;
        margin: 0 0 32px 27px;
        padding-left: 0;
  }
}
