.popup__save-button {
    background: #000000;
    width: 100%;
    padding: 14px 0 18px 0;
    border-radius: 2px;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 0;
    transition: opacity 0.3s;
    cursor: pointer;
    margin-top: 18px;
    border-bottom: none;
  }
  
  .popup__save-button:hover {
    opacity: 0.6;
  }
  
  @media screen and (max-width: 767px) {
    .save-button {
      padding: 14px 0 14px 0;
      font-size: 14px;
      line-height: 17px;
      margin-top: 15px;
    }
  }

