.profile__info {
  max-width: 336px;
  margin-top: 22px;
  margin-left: 0;
  display: grid;
  grid-template-columns: 294px 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 6px;
  column-gap: 18px;
}

@media screen and (max-width: 767px) {
  .profile__info {
    max-width: 189px;
    margin: 0;
    grid-template-columns: 189px 1fr;
    column-gap: 10px;
    row-gap: 14px;
  }
}
