.popup__item {
border: none;
border-bottom: 1px solid rgba(0, 0, 0, 0.2);   
padding-bottom: 13px;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
margin: 0;

}

