/* .page {
    background: #2a2c2f;
    color: #ffffff;
    font-family: Inter, Arial, Helvetica, sans-serif;
} */

/* .page__container {
    max-width: 1280px;
    min-width: 320px;
    box-sizing: border-box;
    margin: 0 auto;
} */

/* .header {
    max-width: 880px;
    padding: 45px 200px 40px;


} */

/* .header__logo {
    width: 142px;
    align-items: flex-start;
    margin-top: 0;
    margin-left: 0;
} */

/* .header__line {
    width: 100%;
    align-items: flex-end;
    margin-top: 42px;
} */

/* .profile {
    max-width: 880px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 200px 0;
} */

/* .profile__kusto {
    display: flex;
    justify-content: space-between;
} */

/* .profile__avatar {
    width: 120px;
    height: 120px;
    margin-right: 26.25px;

} */

/* .profile__info {
    max-width: 336px;
    margin-top: 22px;
    margin-left: 0;
    display: grid;
    grid-template-columns: 294px 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 16px;
    column-gap: 18px;
} */

/* .profile__title {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin: 0;
    text-overflow: ellipsis;
} */

/* .profile__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding-left: 0;
    padding-bottom: 25px;
    margin: 0;
} */



/* .profile__edit-button {
    width: 24px;
    height: 24px;
    padding: 15px 0 0 0;
} */


/* .profile__add-button {
    width: 150px;
    height: 50px;
    margin: 35px 0 35px 0;

} */

/* .elements {
    max-width: 880px;
    padding: 51px 200px 67px 200px;
    margin: 0;
} */

/* .elements__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 2fr);
    row-gap: 20px;
    column-gap: 17px;
    list-style: none;
    margin: 0;
    padding: 0;

} */

/* .element__card {
    background: #FFFFFF;
    border-radius: 10px;
} */

/* .element__mask-group {
    max-width: 282px;
    border-radius: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
} */

/* .element__like {
    display: flex;
    justify-content: space-between;
    margin: 25px 15px 31px 21px;
} */

/* .element__title {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 0;
    /* text-overflow: ellipsis; */
} */

/* .element__vector {
    width: 22px;
    height: 19px;
} */

/* .footer {
    max-width: 318px;
    padding: 0 0 60px 200px;

} */

/* .footer__copyright {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
} */
/* .popup {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .popup__container {
    max-width: 80%;
    max-height: 80%;
    background: #ffffff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 34px 36px 37px 36px;
    box-sizing: border-box;
    position: relative;
    color: #000;
    margin: 0;
  }
  
  @media screen and (max-width: 767px) {
      .popup__container {
          padding: 25px 22px 25px 22px;
          max-width: 100%;
    }
  }
  
  
  .popup__title {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
    padding: 0;
    margin-bottom: 54px;
  }
  
  @media screen and (max-width: 767px) {
      .popup__title {
          font-size: 18px;
          line-height: 22px;
       
    }
  }
  
  
  
  .popup__form {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);;
    
  }
  
  .popup__form_name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    padding: 0;
    padding-bottom: 13px;
  }
  
  .popup__form_about-me {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    padding: 0;
    padding-bottom: 13px;
  }
  
  .popup__save-button {
    background: #000000;
    width: 100%;
    padding: 14px 0 18px 0;
    border-radius: 2px;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  
    margin: 0;
    transition: opacity 0.3s;
    cursor: pointer;
    margin-top: 18px;
    border-bottom: none;
    
  }
  
  
  
  .popup__save-button:hover {
    opacity: 0.6;
  }
  
  @media screen and (max-width: 767px) {
      .save-button {
  padding: 14px 0 14px 0;
   font-size: 14px;
  line-height: 17px;
  margin-top: 15px;
    }
  }
  
  .popup__close-button {
    background-image: url(../../images/closeicon.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    right: -40px;
    top: -40px;
    height: 32px;
    width: 32px;
    background-color: transparent;
    border: 0;
    color: #fff;
    transition: opacity 0.3s;
    cursor: pointer;
  }
  
  .popup__close-button:hover {
    opacity: 0.6;
  }
  
  @media screen and (max-width: 767px) {
    .popup__close-button {
      height: 20px;
      width: 20px;
      top: -36px;
      right: 0;
    }
  } */
  
  /* .popup_hidden {
      display: none;
  } */
  